@charset "utf-8";

/*CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("bg.jpg");
	background-repeat: repeat;

	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*begin styles*/

.gem {
	opacity: 0.4;
	display: inline-block;
}
#gems {
	display: inline-block;
	padding: 5px;
	margin-left: 20px;
}

img.gem{
	vertical-align: middle;
}

p, span, h1{
	text-align: center;
	font-size: medium;
	font-family: 'Open Sans', sans-serif;
} 

h1 {
	text-align: right;
	display: inline-block;
	font-size: large;
	font-weight: bold;
	margin-left: 5px;
}

.roomText{
	display: block;
	margin-top: 10px;
	background-color: #99ff99;
	border-radius: 20px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#different{
	display: none;
}

#kingIcon{
	display: block;
	text-align: right;
	padding: 20px;
	margin-left: auto;
}

#roomImages{
	display: block;
	text-align: center;
	border: #555;
	margin-top: 10px;
}

img.room{
	border-radius: 20px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}